@import '../../shared/scss/vars.scss';

.ML-breadcrum-container {
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
  .content-component {
    font-size: 0.875em;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    span {
      color: $ML-gray99;
      display: flex;
      padding-right: 20px;
      &::after{
        content: ' >';
        display: block;
        left: 10px;
        position: relative;
      }
    }
    strong {
      color: $ML-gray99;
      font-weight: bold;
    }
  }
}